<!doctype html>
<html>
  <head>
    <title>Customers</title>
  </head>
  <body>
    <!-- BEGIN (write your solution here) -->
    <button id="sort">Sort by name</button>
    <label for="filter">Choose a filter:</label>
    <select name="country" id="filter">
      <option value="">country</option>
    </select> 
    <table>
      <thead>
        <tr>
          <th>Last name</th>
          <th>Company</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody id="list">
      {% for customer in customers %}
      <tr>
        <td>
          {{ customer['Surname'] }}
      </td>
        <td>
            {{customer['Company']}}
        </td>
        <td>
            {{customer['Country']}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!-- END -->
    <script>
      const customersData = {{ customers | tojson }};
      console.log(customersData);
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
